.card{

    display: flex;
    flex-direction: column !important;
    justify-content: space-around;
    width: 200px;
    height: 400px;
    margin-left: 30px;
    
}

.presentacion{

    display: flex;
    flex-direction: row;

}

#formRegistro{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    height: 200px;
    width: 300px;
}